<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <main layout:fragment="content">
        <body  th:object="${joinParam}">
        <div>
            <h1>PROFILE</h1>

        </div>

                <dl>
                    <h1>LIST</h1>
                    <li th:each="boardData : ${list}"></li>
                </dl>
            <div>
                <button th:object="${add}" >모임 생성하기</button>
            </div>
            <div>

                <ul>
                    <li th:each="boardData : ${list}" th:object="${boardData}">
                        <a th:href="@{/mypage/view/{id}(id=*{id})}" th:text="*{subject}"></a>
                        <p th:text="*{content}"></p>
                    </li>
                </ul>
            </div>

    </body>
    </main>
</html>
