<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <main layout:fragment="content">
        <form method="get" th:action="@{/board/list}" th:object="${boardSearch}">
            <select name="sopt">
                <option value="all">통합검색</option>
                <option value="subject">제목</option>
                <option value="content">내용</option>
                <option value="subject_content">제목+내용</option>
                <option value="member">회원</option>
            </select>
        </form>
        <ul>
            <li th:each="item : ${items}" th:object="${item}">
                <a th:href="@{/board/view/{id}(id=*{id})" th:text="*{subject}"></a>
            </li>
        </ul>
        <th:block th:replace="~{commons/pagination}"></th:block>
    </main>
</html>