<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="common">
        <main>
            <div class="wrap">

                <h1 class="logo"><a th:onclick="location.href='/mozip'"></a></h1>

                <ul class="gnb">
                    <div class="container orange pullUpDown">
                        <li><a>HOME</a></li>
                        <li><a>ARTICLES</a></li>
                        <li><a>PORTFOLIO</a></li>
                        <li><a>CONTACT</a></li>
                        <li><a>ABOUT</a></li>
                      </div>
                </ul>
                <th:block th:if="${memberNick == null}">
                    <form align="right">
                        <button type="button" class="btn" th:onclick="location.href='/member/join'"><span>회원가입</span></button>
                        <button type="button" class="btn" th:onclick="location.href='/member/login'"><span>로그인</span></button>
                    </form>
                </th:block>
                <th:block th:unless="${memberNick == null}">
                    <form align="right">
                        ([[${memberNick}]])님 안녕하세요.
                        <button type="button" th:onclick="location.href='/member/logout'">로그아웃</button>
                    </form>
                </th:block>
            </div>
        </main>
    </header>
</html>
