<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <main>
        <form method="post" th:action="@{/member/join}" autocomplete="off" th:object="${joinParam}">
            <dl>
                <dt th:text="#{email}"></dt>
                <dd>
                    <input type="email" name="email" th:field="*{email}" th:placeholder="#{emailForm}">
                    <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{memberPw}"></dt>
                <dd>
                    <input type="password" name="memberPw" th:field="*{memberPw}">
                    <div class="error" th:each="err : ${#fields.errors('memberPw')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{memberPwRe}"></dt>
                <dd>
                    <input type="password" name="memberPwRe" th:field="*{memberPwRe}">
                    <div class="error" th:each="err : ${#fields.errors('memberPwRe')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{memberNick}"></dt>
                <dd>
                    <input type="text" name="memberNick" th:field="*{memberNick}">
                    <div class="error" th:each="err : ${#fields.errors('memberNick')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{memberNm}"></dt>
                <dd>
                    <input type="text" name="memberNm" th:field="*{memberNm}">
                    <div class="error" th:each="err : ${#fields.errors('memberNm')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{mobile}"></dt>
                <dd>
                    <input type="text" name="mobile" th:field="*{mobile}">
                    <div class="error" th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
                </dd>
            </dl>
            <div>
                <dt th:text="#{terms.agree}"></dt>
                <dd>
                    <div class="terms"></div>
                    <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
                    <div class="error" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
                </dd>
            </div>
            <div class="btns">
                <button type="submit" th:text="#{member.action}"></button>
            </div>
        </form>
    </main>
</html>