<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/member/login.css}">
        <title>MoZip</title>
    </head>
    <main>
        <div class="error" th:if="${field == 'global' }" th:text="${message}"></div>
        <form method="post" th:action="@{/member/login}" autocomplete="off">
            <section id="loginSection">
                <div class="wrap">
                    <div class="ocean">
                        <div class="wave"></div>
                        <div class="wave"></div>
                    </div>                
                    <div class="box">
                        <h1 class="logo"><a href="/mozip">로고</a></h1>
                        <dl>
                            <dt th:text="#{email}"></dt>
                            <dd>
                                <input type="text" name="email">
                                <div class="error" th:if="${field == 'email' }" th:text="${message}"></div>
                            </dd>
                        </dl>
                        <dl>
                            <dt th:text="#{memberPw}"></dt>
                            <dd>
                                <input type="password" name="memberPw">
                                <div class="error" th:if="${field == 'memberPw' }" th:text="${message}"></div>
                            </dd>
                        </dl>
                        <button type="submit" th:text="#{member.login}"></button>
                    </div>
                </div>
            </section>        
        </form>
    </main>
</html>