<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form method="post" >
            <dl>
                <dt>제목</dt>
                <dd>
                    <input type="text" >
                </dd>
            </dl>
            <dl>
                <dt>내용</dt>
                <dd>
                    <textarea name="content" id="content" ></textarea>
                </dd>
            </dl>
            <button type="submit">작성하기</button>
        </form>
    </body>
</html>