.dn { display: none !important; }

/** 레이어 팝업 S */
#layer_dim { background:rgba(0,0,0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; z-index: 10; }
#layer_popup { background: #ffffff; position: fixed; z-index: 11; border-radius: 30px; overflow-x: hidden; overflow-y: auto; padding: 20px; }
#layer_popup .popup_title { border-bottom: 1px solid #000000;  margin-bottom: 20px; font-size: 1.15rem; font-weight: bold; padding: 0 5px 13px; }
#layer_popup .layer_close { cursor: pointer; position: absolute; right: 25px; top: 15px; font-size: 1.8rem; }
/** 레이어 팝업 E */

/***  헤더 ***/

header {
    
}
header main {
  
}
header main div.wrap {
  
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
header main div.wrap h1.logo {
  
  margin: 0;
}
header main div.wrap h1.logo a {
  
}
header main div.wrap ul.gnb {
  
text-decoration: none;
display: flex;
margin: 0;
}
header main div.wrap ul.gnb li {
  
align-items: center;
display: flex;
margin: 15px;
}
header main div.wrap ul.gnb li a {
  
padding: 20px 20px;
}
header main div.wrap form {
  
position: relative;
top: 20%;
}
header main div.wrap form button {
  
}

.memberInfo{

display: flex;
}