/** 사이트 공통 S */
.dn { display: none !important; }
body { margin: 0; }
ul { list-style: none; margin: 0; padding: 0; }
li { display: block; }
dl { display: flex; width: 100%; margin: 0; align-items: center; }
dt { width: 130px;  }
dd { width: calc(100% - 130px); padding: 0; margin: 0; }
a { color:#222; text-decoration: none; }
/** 사이트 공통 E */

/** 레이어 팝업 S */
#layer_dim { background:rgba(0,0,0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; z-index: 10; }
#layer_popup { background: #ffffff; position: fixed; z-index: 11; border-radius: 30px; overflow-x: hidden; overflow-y: auto; padding: 20px; }
#layer_popup .popup_title { border-bottom: 1px solid #000000;  margin-bottom: 20px; font-size: 1.15rem; font-weight: bold; padding: 0 5px 13px; }
#layer_popup .layer_close { cursor: pointer; position: absolute; right: 25px; top: 15px; font-size: 1.8rem; }
/** 레이어 팝업 E */


/** 페이징 공통 S */
.pagination { display: flex; justify-content: center; align-items: center; margin: 10px 0; }
.pagination li { margin: 0 2px; }
.pagination li a { display: block; padding: 0 5px; border: 1px solid #000; border-radius: 3px; text-align: center; font-size: 14px; }
.pagination li.on a { background: #000; color: #fff; }

/** 페이징 공통 E */

/** 모집 목록 공통 S */
.mozip_items { margin: 100px auto 10px auto; width: 700px; }
.mozip_items li {  transition: 0.5s; border: 2px solid #ccc; border-radius: 5px; margin-bottom: 10px; }
.mozip_items li > a { display: flex; min-height: 60px; }
.mozip_items li > div { width: 0; }
.mozip_items li:hover { scale: 1.1; color: #f6f8c2; background-color: #ffb939; border-color: #000; }
.mozip_items .photo { width: 150px; height: 150px;  }
.mozip_items .right { flex-grow: 1; padding: 10px; }
/** 모집 목록 공통 E */


/***  헤더 ***/

header {
    
}
header main {
  
}
header main div.wrap {
  
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
header main div.wrap h1.logo {
  
  margin: 0;
}
header main div.wrap h1.logo a {
  
}
header main div.wrap ul.gnb {
  
text-decoration: none;
display: flex;
margin: 0;
}
header main div.wrap ul.gnb li {
  
align-items: center;
display: flex;
margin: 15px;
}
header main div.wrap ul.gnb li a {
  
padding: 20px 20px;
}
header main div.wrap form {
  
position: relative;
top: 20%;
}
header main div.wrap form button {
  
}

.memberInfo{

display: flex;
}