*{
    list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a{
  
  color: white;
  font-size: x-large;
}
html{

}
body{

}

main {

}
main form {

}
main form select {

}
main form select option {

}
main form input {

}
main form button {

}
main .listMemo {

  display: flex;
  justify-content: center;
}
main .listMemo ul {

  width: 50%;
}
main .listMemo ul li {

  font-size: 24px;
  line-height: 1.5;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  transition: 0.5s;
  position: relative;
}

main .listMemo ul li:hover{
  content: ;
  scale: 1.1;
}
main .listMemo ul li:hover a{
  
  color: #f6f8c2;
  background-color: #ffb939;
}


main .listMemo ul li a{
  
  line-height: 2.4;
  width: 50%;
  border-radius: 5px;
  background-color: #fac661;
  text-align: center;
  margin-right: 20px;
  transition: 0.3s;
  color: darkgoldenrod;
  position: absolute;
  left: -2px;
}
main .listMemo ul li p{
  
  margin: 0px 60%;
  color: #6e3c07;
}

main .listMemo div {

}
main .listMemo div th {

}

div.link_add{
  
  width: 300px;
  text-align: center;
  background-color: orange;
  border-radius: 5px;
  height: 38px;
  padding: 2px;
  margin: 0 auto;
  cursor: pointer;
}
div.link_add:hover {
  
  color: burlywood;
}

div.link_add a{
}

div.link_add a{
  text-align: center;
  background-color: orange;
  border-radius: 5px;
  padding: 2px;
  margin: 0 auto;
  font-size: x-large;
}
