<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
    <head>
        <title>MoZip</title>
        <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/main/style.css}">
        <script th:src="@{/js/main/main.js}"></script> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        
    </head>
    <body>

        <section id="page1">
            <div class="wrap">
                <h2 class="mainHello">어서오세요<br><span>저희조가 만든 홈페이지를 소개해 드리겠습니다.</span></h2>
                <div class="slider">
                    <h2 class="silderT">베스트 사진</h2>               
                    <div class="slide slide_wrap">
                        <div class="slide_item item1">1</div>
                        <div class="slide_item item2">2</div>
                        <div class="slide_item item3">3</div>
                        <div class="slide_item item4">4</div>
                        <div class="slide_item item5">5</div>
                        <div class="slide_prev_button slide_button">◀</div>
                        <div class="slide_next_button slide_button">▶</div>
                        <ul class="slide_pagination"></ul>
                      </div>
                      <script src="slide.js"></script>                
                </div>
    
                <h2 class="groupLogo">Group</h2>
                <div class="group">                
                    <div class="left">
                        <div class="pic">사진</div>
                        <div class="inter">
                            <ul class="inter1">
                                <p>소모임명</p>
                                <p>소모임 상세 소개</p>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="pic">사진</div>
                        <div class="inter">
                            <ul class="inter1">
                                <p>소모임명</p>
                                <p>소모임 상세 소개</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="slidePoint">slidePoint</div>     
        </section>  
       

    </body>
</main>
</html>