*{    
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

header {
    
  }
  header main {
    
  }
  header main div.wrap {
    
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  }
  header main div.wrap h1.logo {
    
  }
  header main div.wrap h1.logo a {
    
  }
  header main div.wrap ul.gnb {
    
  text-decoration: none;
  display: flex;
  }
  header main div.wrap ul.gnb li {
    
  align-items: center;
  display: flex;
  margin: 15px;
  }
  header main div.wrap ul.gnb li a {
    
  padding: 20px 20px;
  }
  header main div.wrap form {
    
  position: relative;
  top: 20%;
  }
  header main div.wrap form button {
    
  }

.memberInfo{
  
  display: flex;
}