@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Quicksand&display=swap');

/** 공통 */
* {font-family: 'Noto Sans KR', sans-serif; box-sizing : border-box; outline : none;
    color : #000;}
html {font-size : 15px; min-width : 800px}

body {margin : 0;}
ul, ol {list-style-type : none; margin : 0; padding : 0;}
li {margin : 0; padding : 0;}
dl, dt, dd {margin : 0; padding : 0;}
a {text-decoration : none; }
img {border : 0;}
p {margin : 0;}


/** 상단 로고, 메뉴 영역 S */
#logo_menu{display:flex; justify-content: space-between; height : 40px; align-items:center;
    padding : 0 30px; border-bottom : 1px solid #e5e7eb;}

#logo_menu .top_menu, #logo_menu .name{float:left; font-size : 1rem; line-height : 40px; margin-left:20px;}
#logo_menu .name{font-family:'Gugi'; font-size:1.3rem; font-weight:bold;}


#logo_menu i{font-size : 1.46rem; display: inline-block; vertical-align: middle;}
#logo_menu .bar{display:none}

#logo_menu .right a{display:inline-block; margin-right:10px;}
#logo_menu .right i{display:inline-block; margin-right:10px; cursor : pointer;}
#logo_menu a:hover, i:hover{opacity : 0.7;}
#logo_menu .left .submenu {height:0px; overflow: hidden;}
#logo_menu .left .submenu li{line-height : 40px;}

@media all and (max-width : 1100px) {
    .left .top_menu{display:none;}
    #logo_menu .bar{position :relative;display:flex; font-size : 1rem; line-height : 40px; margin-left:20px; padding-left : 20px;}
    #logo_menu .submenu > li a{color : rgb(184, 182, 182);}
    #logo_menu .bar:focus-within .submenu{width : 100px; position:absolute; background-color : rgba(10, 10,10,0.7);
                                        height : 280px; display:block; line-height : 40px; }
}



/** 상단 로고, 메뉴 영역 E */

/** 메인 배너 영역 S*/
#main_banner {width : 100%; height : 600px;background-image : url("../images/banner.png"); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%; z-index : 10;}
#main_banner .main_item{ position:relative; text-align: center; vertical-align: middle; top : 20%; font-size : 1.3rem;}
#main_banner .main_item p span,
#main_banner .main_item p a{color : white; font-family: 'Quicksand', sans-serif; text-align:center;}
#main_banner .main_item p a{display : inline-block; border : 1px solid rgba(255,255,255,0.3); margin: 15px 0; padding : 15px 30px;}
#main_banner .JOIN_NOW{transition-duration : 0.5s; transition-property: background, color;}

#main_banner .JOIN_NOW:hover{background:white;color : black;}
/** 메인 배너 영역 E */

/** 메인 공지사항 영역 S */
#notice {display:flex; justify-content : space-between; align-items:center; height : 1.2em; margin : 15px 15px;}
#notice div form{margin-left : 23px;}
.form-search{padding: 6px 12px;}
.search .xi-search{padding : 0px 4px; height : 15px;}
/** 메인 공지사항 영역 E */

/** 메인 게시판 영역 S */
#notice_board div .item{display:flex; justify-content: center; margin : 0px 15px; text-align:center; border-top : 1px solid #494949; border-bottom : 1px solid rgba(79,79,79,0.15);}
#notice_board li{padding:10px 7px;}
#notice_board .no{width : 0px; flex-grow : 1;}
#notice_board .title{width : 0px; flex-grow : 11.2;}
#notice_board .name{width : 0px; flex-grow : 2;}
#notice_board .date{width : 0px; flex-grow : 2.4;}
#notice_board .read{width : 0px; flex-grow : 2;}
#notice_board .like{width : 0px; flex-grow : 1.4;}

#notice_board div ul{display:flex; justify-content: center; margin : 0px 15px; text-align:center;border-bottom : 1px solid rgba(79,79,79,0.15);}
/** 메인 게시판 영역 E */

/** 하단 아이콘 영역 S */
#bottom_menu{ background-color : #e7e7e7;}
#bottom_menu ul li{display:flex; justify-content: space-between; height : 60px; align-items:center; margin-left : 30%; margin-right : 30%;}
#bottom_menu i{font-size : 2rem; padding : 1.13rem;}
#bottom_menu .xi-instagram:hover {opacity : 0.7;}
#bottom_menu .xi-message:hover {opacity : 0.7;}
#bottom_menu .xi-calendar-list:hover {opacity : 0.7;}
/** 하단 아이콘 영역 E */

/** 사이드바 S */
#sidebar {
    float: left;
    width: 200px;
    height: 850px;
    border:1px solid gray;
}
nav {
    width:200px;
    border:5px solid red;
}