html{
  overflow-x: hidden;
}

body{
  margin: 0;
  
}
#joinSection{

  justify-content: center;
  display: flex;
  background: radial-gradient(ellipse at bottom, rgba(255, 254, 234, 0.1) 1%, rgba(255,254,234,0.9) 5%, #D0440E 100%);
}

div.wrap{
  width: 1200px;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

div.box{

  z-index: 10;
}

h1{

  justify-content: center;
  display: flex;
  /*! margin-top: 70px; */
}
h1 a{

  color: transparent;
  background-image: url(../img/MozipLogo.png);
  width: 250px;
  display: block;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

form{

}

dl{

}

dt{
  align-items: center;
  display: flex;
}
dd{    
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #fdc662;
  padding: 10px 110px 10px 14px;
  background: #fff;
  box-sizing: border-box;
  margin-left: 0;
}
dd::nth-child(1){
  padding: 0;
  width: 0;
  height: 0;
  
}
.inputInfo{
  
  display: block;
  position: relative;
  width: 145%;
  height: 29px;
  padding-right: 25px;
  line-height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
  box-sizing: border-box;
}
.agreeDiv{
    
  display: flex;
}
dd.agree{

  background-color: transparent;
  width: 0;
  line-height: 1.7;
  border: none;
}
.joinButton{
  background-color: #F6BB43;
  color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 8px;
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
.joinButton:hover{
  
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 22px;
  background-color: wheat;
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
.error{

  color: red;
  margin: -3px;
  font-size: 12px;
}
.last{
    
  width: 100px;
  position: absolute;
  left: -45px;
  top: 35px;
}

.ocean { 
    height: 18%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
    z-index: 0;
  }

  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
  